*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Geomanist;
}
@font-face{
    font-family:Geomanist;
    src:url(fonts/Geomanist.woff) ;
}


header{
    background-color: #a3907c ;
    color:#ffffff;
    padding-top: 1cm;
    padding-bottom: 1cm;
}
footer{
    padding-top: 6cm;
}


#container-footer{
    background: #333333;
    color:#ffffff;
    display: flex;
    padding: 0.5cm;
    justify-content: space-between;
}
#container-sub-footer{
    color:#ffffff;
    width: 100%;
    background: #485a6c;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}


#container-left{
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.centrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
.columna1{
    max-width: 300px;
}
.columna1 p{
    padding-bottom: 2cm;
}

.columna1 label{
    font-size: 15px;
}

.columna2{
    font-size: 15px;
    display: flex;
}
.columna2 a{
    color: white;
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: 15px;
    padding: 0.5cm;
}
.fila2 {
    margin-top: 1cm;
}

.atombody{
    padding-top: 2cm;
    width: 160px;
}

@media screen and (max-width: 100%){
    #container-body{
    flex-wrap:wrap;

}
.menu{
    visibility: hidden;
}
.botonmenu:checked +.menu{
    visibility: visible;
    background: maroon;
    width: 300px;
    height: 300px;
   
}



}
