*{
    margin: 0.1px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Geomanist;
    user-select: none;
}
@font-face{
    font-family:Geomanist;
    src:url(fonts/Geomanist.woff) ;
}
header{
    position: relative;
    background-color: #666666;
    color:#ffffff;
    padding-top: 0.8cm;
    padding-bottom: 0.8cm;
    border-bottom-right-radius: 1.5cm;
    border-top-left-radius: 1.5cm;
    border-bottom-left-radius: 5mm;
}

footer{
    padding-top: 8cm;
}
#container-header{
    background-color: #667885;
    position: relative;
    border-radius: 0.5cm;
}

#subcontainer-header{
    position: relative;
    background-color: #333333;
    border-radius: 1cm;
    
}

#container-footer{
    background: #333333;
    color:#ffffff;
    display: flex;
    position: relative;
    padding: 0.5cm;
    justify-content: space-between;
}
#container-sub-footer{
    position: relative;
    color:#ffffff;
    width: 100%;
    background: #485a6c;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
#container-left{
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}
.centrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
.columna1{
    max-width: 300px;
}
.columna1 p{
    padding-bottom: 2cm;
}

.columna1 label{
    font-size: 15px;
}

.columna2{
    font-size: 15px;
    display: flex;
}
.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5cm;
}
.redes a{
    user-select: none;
    padding-top: 3mm;
    color: white;
}
.fila2 {
    margin-top: 1cm;
}
.atombody{
    top: 1cm;
    display: block;
    position: relative;
    width: 120px;
}
.redesimg{
    user-select: none;
    width: 35px;
}
.menu{
    transition: width 1s, height 2s;
    width: 0;
    height: 0;

    white-space: no-wrap;
    overflow: hidden;
    position: absolute;
    top: 3cm;
    padding-top: 8px;
    display: flex;
    justify-content: center;   
    position: absolute;
    background: #ed5353;
    color: white;
    border-top-right-radius: 0.8cm;
    border-bottom-right-radius: 5cm;
}
#desplegarmenu{
    display: none;
}
.botonmenu:checked +.menu{
    width: 100px;
    height: 65%;
    
}
.bt {
    display: flex;
    top: 3cm;
    left: 3.0cm;
    position: absolute;
    background-color:#d4d4d4;
    color: black;
    border-radius: 1mm;
}

.opciones{
    z-index: 1;
    top: 2cm;
    bottom: 2cm;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.opciones label{

    padding: 0.5cm;
}
#contenedormenu{
    position: absolute;
    border-top-right-radius: 6mm;
    border-bottom-right-radius: 100%;
    background-color:#273445;
    width: 250px;
    height: 80%
}
